* text=auto !eol
/.indent.pro -text
/AUTHORS -text
/BUGS -text
/COPYING -text
/CREDITS -text
/ChangeLog -text
/ChangeLog.old -text
/Config -text
/INSTNOTES -text
/INSTNOTES.svn -text
/README -text
/RELNOTES -text
/TODO -text
/acconfig.h eol=lf
/aclocal.m4 -text
/config.guess -text
/config.sub -text
/configure -text
/configure.in -text
/cronchk -text
data/niconfig.db -text
data/tlds.nfo -text
doc/FAQ -text
doc/FAQ.pt -text
doc/README.dev -text
doc/README.french -text
doc/README.sqlsrv -text
doc/USERMAN -text
doc/USERMAN.xml -text
doc/old/ChangeLog.connectserv.old -text
doc/old/ChangeLog.hostserv.old -text
doc/old/ChangeLog.loveserv.old -text
doc/old/ChangeLog.neoserv.old -text
doc/old/ChangeLog.noraleserv.old -text
doc/old/ChangeLog.operlog.old -text
doc/old/ChangeLog.statserv.old -text
doc/old/FAQ.pt -text
doc/old/INSTALL.pt -text
doc/old/README.pt -text
doc/read-faq -text
doc/read-userman -text
/install-sh -text
logs/.keepme -text
/makeconf -text
/neostats.motd -text
src/Makefile.in -text
src/Makefile.inc.in -text
src/adns/.indent.pro -text
src/adns/Makefile -text
src/adns/adns.h -text
src/adns/check.c -text
src/adns/config.h.in -text
src/adns/dlist.h -text
src/adns/event.c -text
src/adns/general.c -text
src/adns/internal.h -text
src/adns/parse.c -text
src/adns/query.c -text
src/adns/reply.c -text
src/adns/setup.c -text
src/adns/transmit.c -text
src/adns/tvarith.h -text
src/adns/types.c -text
src/bans.c -text
src/bans.h -text
src/chans.c eol=lf
src/chans.h eol=lf
src/commands.c -text
src/conf.c eol=lf
src/conf.h eol=lf
src/config.h.in -text
src/curl/COPYING -text
src/curl/Makefile.in -text
src/curl/README -text
src/curl/RELEASE-NOTES -text
src/curl/acinclude.m4 -text
src/curl/aclocal.m4 -text
src/curl/arpa_telnet.h -text
src/curl/base64.c -text
src/curl/base64.h -text
src/curl/config.guess -text
src/curl/config.h.in -text
src/curl/config.sub -text
src/curl/configure -text
src/curl/configure.in -text
src/curl/connect.c -text
src/curl/connect.h -text
src/curl/content_encoding.c -text
src/curl/content_encoding.h -text
src/curl/cookie.c -text
src/curl/cookie.h -text
src/curl/curl.h -text
src/curl/depcomp -text
src/curl/dict.c -text
src/curl/dict.h -text
src/curl/easy.c -text
src/curl/easy.h -text
src/curl/escape.c -text
src/curl/escape.h -text
src/curl/file.c -text
src/curl/file.h -text
src/curl/formdata.c -text
src/curl/formdata.h -text
src/curl/ftp.c -text
src/curl/ftp.h -text
src/curl/getdate.c -text
src/curl/getdate.h -text
src/curl/getdate.y -text
src/curl/getenv.c -text
src/curl/getinfo.c -text
src/curl/getinfo.h -text
src/curl/hash.c -text
src/curl/hash.h -text
src/curl/hostip.c -text
src/curl/hostip.h -text
src/curl/http.c -text
src/curl/http.h -text
src/curl/http_chunks.c -text
src/curl/http_chunks.h -text
src/curl/http_digest.c -text
src/curl/http_digest.h -text
src/curl/http_negotiate.c -text
src/curl/http_negotiate.h -text
src/curl/http_ntlm.c -text
src/curl/http_ntlm.h -text
src/curl/if2ip.c -text
src/curl/if2ip.h -text
src/curl/inet_ntoa_r.h -text
src/curl/inet_pton.c -text
src/curl/inet_pton.h -text
src/curl/install-sh -text
src/curl/krb4.c -text
src/curl/krb4.h -text
src/curl/ldap.c -text
src/curl/ldap.h -text
src/curl/llist.c -text
src/curl/llist.h -text
src/curl/md5.c -text
src/curl/md5.h -text
src/curl/memdebug.c -text
src/curl/memdebug.h -text
src/curl/missing -text
src/curl/mkinstalldirs -text
src/curl/mprintf.c -text
src/curl/mprintf.h -text
src/curl/multi.c -text
src/curl/multi.h -text
src/curl/mycurl-config.in -text
src/curl/netrc.c -text
src/curl/netrc.h -text
src/curl/progress.c -text
src/curl/progress.h -text
src/curl/security.c -text
src/curl/security.h -text
src/curl/sendf.c -text
src/curl/sendf.h -text
src/curl/setup.h -text
src/curl/share.c -text
src/curl/share.h -text
src/curl/speedcheck.c -text
src/curl/speedcheck.h -text
src/curl/ssluse.c -text
src/curl/ssluse.h -text
src/curl/stamp-h1 -text
src/curl/stdcheaders.h -text
src/curl/strequal.c -text
src/curl/strequal.h -text
src/curl/strtok.c -text
src/curl/strtok.h -text
src/curl/telnet.c -text
src/curl/telnet.h -text
src/curl/timeval.c -text
src/curl/timeval.h -text
src/curl/transfer.c -text
src/curl/transfer.h -text
src/curl/types.h -text
src/curl/url.c -text
src/curl/url.h -text
src/curl/urldata.h -text
src/curl/version.c -text
src/db.c -text
src/dl.c eol=lf
src/dl.h eol=lf
src/dns.c eol=lf
src/dns.h eol=lf
src/dotconf.c eol=lf
src/dotconf.h eol=lf
src/events.h eol=lf
src/exclude.c -text
src/exclude.h -text
src/hash.c eol=lf
src/hash.h eol=lf
src/ircd.c eol=lf
src/ircd.h eol=lf
src/ircstring.c eol=lf
src/ircstring.h eol=lf
src/keeper.c eol=lf
src/keeper/.indent.pro -text
src/keeper/Makefile -text
src/keeper/keeper.h -text
src/keeper/kp_cache.c -text
src/keeper/kp_dir.c -text
src/keeper/kp_enum.c -text
src/keeper/kp_get.c -text
src/keeper/kp_iface.c -text
src/keeper/kp_recur.c -text
src/keeper/kp_set.c -text
src/keeper/kp_sort.c -text
src/keeper/kp_util.c -text
src/keeper/kp_util.h -text
src/list.c eol=lf
src/list.h eol=lf
src/log.c eol=lf
src/log.h eol=lf
src/main.c eol=lf
src/match.c -text
src/misc.c eol=lf
src/modules/.indent.pro -text
src/modules/Makefile -text
src/modules/Makefile.inc.in -text
src/modules/connectserv/.indent.pro -text
src/modules/connectserv/Makefile -text
src/modules/connectserv/cs.c -text
src/modules/connectserv/cs.h -text
src/modules/connectserv/cs_help.c -text
src/modules/extauth/.indent.pro -text
src/modules/extauth/Makefile -text
src/modules/extauth/serviceroots.c -text
src/modules/hostserv/.indent.pro -text
src/modules/hostserv/Makefile -text
src/modules/hostserv/README -text
src/modules/hostserv/hostserv.c -text
src/modules/hostserv/hostserv.h -text
src/modules/hostserv/hs_help.c -text
src/modules/loveserv/.indent.pro -text
src/modules/loveserv/Makefile -text
src/modules/loveserv/TODO -text
src/modules/loveserv/loveserv.c -text
src/modules/loveserv/loveserv.h -text
src/modules/loveserv/ls_help.c -text
src/modules/modules.txt -text
src/modules/moraleserv/.indent.pro -text
src/modules/moraleserv/Makefile -text
src/modules/moraleserv/ms.c -text
src/modules/moraleserv/ms.h -text
src/modules/moraleserv/ms_help.c -text
src/modules/neoserv/Makefile -text
src/modules/neoserv/neoserv.c -text
src/modules/neoserv/neoserv_help.c -text
src/modules/operlog/ChangeLog -text
src/modules/operlog/Makefile -text
src/modules/operlog/ol_help.c -text
src/modules/operlog/operlog.c -text
src/modules/statserv/.indent.pro -text
src/modules/statserv/GeoIP.c -text
src/modules/statserv/GeoIP.dat -text
src/modules/statserv/GeoIP.h -text
src/modules/statserv/GeoIPBitReader.c -text
src/modules/statserv/GeoIPBitReader.h -text
src/modules/statserv/GeoIPCity.c -text
src/modules/statserv/GeoIPCity.h -text
src/modules/statserv/Makefile -text
src/modules/statserv/database.c -text
src/modules/statserv/global.h -text
src/modules/statserv/html/index.tpl -text
src/modules/statserv/htmlstats.c -text
src/modules/statserv/m_stats.h -text
src/modules/statserv/md5.c -text
src/modules/statserv/md5.h -text
src/modules/statserv/sqlstats.h -text
src/modules/statserv/ss_help.c -text
src/modules/statserv/stats.c -text
src/modules/statserv/statserv.c -text
src/modules/statserv/statserv.h -text
src/modules/statserv/tld.c -text
src/modules/template/Makefile -text
src/modules/template/template.c -text
src/neostats.h -text
src/ns_help.c eol=lf
src/ns_help.h eol=lf
src/numeric.h -text
src/pcre/COPYING -text
src/pcre/Makefile.in eol=lf
src/pcre/README -text
src/pcre/config.h.in eol=lf
src/pcre/dftables.c eol=lf
src/pcre/get.c eol=lf
src/pcre/internal.h eol=lf
src/pcre/maketables.c eol=lf
src/pcre/pcre.c eol=lf
src/pcre/pcre.in eol=lf
src/pcre/study.c eol=lf
src/protocol/bahamut.c eol=lf
src/protocol/bahamut.h eol=lf
src/protocol/hybrid7.c eol=lf
src/protocol/hybrid7.h eol=lf
src/protocol/ircu.c eol=lf
src/protocol/ircu.h eol=lf
src/protocol/liquid.c -text
src/protocol/liquid.h -text
src/protocol/mystic.c eol=lf
src/protocol/mystic.h eol=lf
src/protocol/neoircd.c eol=lf
src/protocol/neoircd.h eol=lf
src/protocol/quantum.c eol=lf
src/protocol/quantum.h eol=lf
src/protocol/ultimate.c eol=lf
src/protocol/ultimate.h eol=lf
src/protocol/unreal.c eol=lf
src/protocol/unreal.h eol=lf
src/protocol/viagra.c -text
src/protocol/viagra.h -text
src/server.c eol=lf
src/server.h eol=lf
src/services.c eol=lf
src/services.h eol=lf
src/sock.c eol=lf
src/sock.h eol=lf
src/sqlsrv/Makefile.in -text
src/sqlsrv/README -text
src/sqlsrv/api.c -text
src/sqlsrv/do_sql.c -text
src/sqlsrv/do_sql.h -text
src/sqlsrv/parse.tab.c -text
src/sqlsrv/parse.tab.h -text
src/sqlsrv/parse.y -text
src/sqlsrv/rta.h -text
src/sqlsrv/rtatables.c -text
src/sqlsrv/token.c -text
src/sqlsrv/token.l -text
src/stats.h eol=lf
src/support.c eol=lf
src/support.h eol=lf
src/timer.c eol=lf
src/timer.h eol=lf
src/tools/Makefile.in -text
src/tools/README.kptool -text
src/tools/cfgtool/Makefile -text
src/tools/cfgtool/README.configtool -text
src/tools/cfgtool/dialog.c -text
src/tools/cfgtool/edit.c -text
src/tools/cfgtool/gkeeper.c -text
src/tools/cfgtool/gkeeper.h -text
src/tools/cfgtool/menu.c -text
src/tools/cfgtool/pixmaps/book_closed.xpm -text
src/tools/cfgtool/pixmaps/book_open.xpm -text
src/tools/cfgtool/pixmaps/data.xpm -text
src/tools/cfgtool/pixmaps/float.xpm -text
src/tools/cfgtool/pixmaps/folder_closed.xpm -text
src/tools/cfgtool/pixmaps/folder_open.xpm -text
src/tools/cfgtool/pixmaps/num.xpm -text
src/tools/cfgtool/pixmaps/string.xpm -text
src/tools/cfgtool/pixmaps/warning.xpm -text
src/tools/cfgtool/tree.c -text
src/tools/kp_exp.c -text
src/tools/kp_imp.c -text
src/tools/kptool.c -text
src/tools/kptool.h -text
src/tools/sqlphp/README -text
src/tools/sqlphp/rta_tables.php -text
src/tools/sqlphp/rta_view.php -text
src/transfer.c -text
src/transfer.h -text
src/users.c eol=lf
src/users.h eol=lf
src/version.sh -text
