* text=auto !eol
/.indent.pro -text
/AUTHORS -text
/BUGS -text
/COPYING -text
/CREDITS -text
/ChangeLog -text
/ChangeLog.old -text
/Config -text
/INSTALL -text
/INSTNOTES -text
/INSTNOTES.svn -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/RELNOTES -text
/TODO -text
/aclocal.m4 -text
autotools/acinclude.m4 -text
autotools/aclocal.m4 -text
autotools/ax_maintainer_mode_auto_silent.m4 -text
autotools/ax_path_lib_curl.m4 -text
autotools/ax_path_lib_pcre.m4 -text
autotools/compile -text
autotools/config.guess -text
autotools/config.sub -text
autotools/depcomp -text
autotools/install-sh -text
autotools/ltmain.sh -text
autotools/missing -text
autotools/mkinstalldirs -text
autotools/rules.mk -text
/configure -text
/configure.in -text
/cronchk.in -text
data/niconfig.db -text
data/tlds.nfo -text
doc/FAQ -text
doc/FAQ.pt -text
doc/README.dev -text
doc/README.french -text
doc/README.sqlsrv -text
doc/USERMAN -text
doc/USERMAN.xml -text
doc/old/ChangeLog.connectserv.old -text
doc/old/ChangeLog.hostserv.old -text
doc/old/ChangeLog.loveserv.old -text
doc/old/ChangeLog.neoserv.old -text
doc/old/ChangeLog.noraleserv.old -text
doc/old/ChangeLog.operlog.old -text
doc/old/ChangeLog.statserv.old -text
doc/old/FAQ.pt -text
doc/old/INSTALL.pt -text
doc/old/README.pt -text
doc/read-faq -text
doc/read-userman -text
include/Makefile.am -text
include/Makefile.in -text
include/auth.h -text
include/bans.h -text
include/bots.h -text
include/channels.h eol=lf
include/commands.h -text
include/conf.h eol=lf
include/config.h.in -text
include/configwin32.h -text
include/dl.h eol=lf
include/dns.h eol=lf
include/dotconf.h eol=lf
include/events.h eol=lf
include/exclude.h -text
include/hash.h eol=lf
include/ircd.h eol=lf
include/ircstring.h eol=lf
include/list.h eol=lf
include/log.h eol=lf
include/modules.h -text
include/neostats.h -text
include/ns_help.h eol=lf
include/numeric.h -text
include/servers.h eol=lf
include/services.h eol=lf
include/signals.h -text
include/sock.h eol=lf
include/support.h eol=lf
include/timer.h eol=lf
include/transfer.h -text
include/users.h eol=lf
include/version.sh -text
lib/adns/.indent.pro -text
lib/adns/Makefile.am -text
lib/adns/Makefile.in -text
lib/adns/adns.h -text
lib/adns/check.c -text
lib/adns/dlist.h -text
lib/adns/event.c -text
lib/adns/general.c -text
lib/adns/internal.h -text
lib/adns/parse.c -text
lib/adns/query.c -text
lib/adns/reply.c -text
lib/adns/setup.c -text
lib/adns/transmit.c -text
lib/adns/tvarith.h -text
lib/adns/types.c -text
lib/adnswin32/Makefile.in -text
lib/adnswin32/adns.h -text
lib/adnswin32/adns.make -text
lib/adnswin32/adns_unix_calls.c -text
lib/adnswin32/adns_win32.h -text
lib/adnswin32/check.c -text
lib/adnswin32/config.h -text
lib/adnswin32/config.h.in -text
lib/adnswin32/dlist.h -text
lib/adnswin32/event.c -text
lib/adnswin32/general.c -text
lib/adnswin32/internal.h -text
lib/adnswin32/parse.c -text
lib/adnswin32/poll.c -text
lib/adnswin32/query.c -text
lib/adnswin32/reply.c -text
lib/adnswin32/setup.c -text
lib/adnswin32/transmit.c -text
lib/adnswin32/tvarith.h -text
lib/adnswin32/types.c -text
lib/curl/COPYING -text
lib/curl/Makefile.am -text
lib/curl/Makefile.in -text
lib/curl/README -text
lib/curl/RELEASE-NOTES -text
lib/curl/acinclude.m4 -text
lib/curl/aclocal.m4 -text
lib/curl/arpa_telnet.h -text
lib/curl/base64.c -text
lib/curl/base64.h -text
lib/curl/config-win32.h -text
lib/curl/connect.c -text
lib/curl/connect.h -text
lib/curl/content_encoding.c -text
lib/curl/content_encoding.h -text
lib/curl/cookie.c -text
lib/curl/cookie.h -text
lib/curl/curl.h -text
lib/curl/depcomp -text
lib/curl/dict.c -text
lib/curl/dict.h -text
lib/curl/easy.c -text
lib/curl/easy.h -text
lib/curl/escape.c -text
lib/curl/escape.h -text
lib/curl/file.c -text
lib/curl/file.h -text
lib/curl/formdata.c -text
lib/curl/formdata.h -text
lib/curl/ftp.c -text
lib/curl/ftp.h -text
lib/curl/getdate.c -text
lib/curl/getdate.h -text
lib/curl/getdate.y -text
lib/curl/getenv.c -text
lib/curl/getinfo.c -text
lib/curl/getinfo.h -text
lib/curl/hash.c -text
lib/curl/hash.h -text
lib/curl/hostip.c -text
lib/curl/hostip.h -text
lib/curl/http.c -text
lib/curl/http.h -text
lib/curl/http_chunks.c -text
lib/curl/http_chunks.h -text
lib/curl/http_digest.c -text
lib/curl/http_digest.h -text
lib/curl/http_negotiate.c -text
lib/curl/http_negotiate.h -text
lib/curl/http_ntlm.c -text
lib/curl/http_ntlm.h -text
lib/curl/if2ip.c -text
lib/curl/if2ip.h -text
lib/curl/inet_ntoa_r.h -text
lib/curl/inet_pton.c -text
lib/curl/inet_pton.h -text
lib/curl/install-sh -text
lib/curl/krb4.c -text
lib/curl/krb4.h -text
lib/curl/ldap.c -text
lib/curl/ldap.h -text
lib/curl/llist.c -text
lib/curl/llist.h -text
lib/curl/md5.c -text
lib/curl/md5.h -text
lib/curl/memdebug.c -text
lib/curl/memdebug.h -text
lib/curl/missing -text
lib/curl/mkinstalldirs -text
lib/curl/mprintf.c -text
lib/curl/mprintf.h -text
lib/curl/multi.c -text
lib/curl/multi.h -text
lib/curl/mycurl-config.in -text
lib/curl/netrc.c -text
lib/curl/netrc.h -text
lib/curl/progress.c -text
lib/curl/progress.h -text
lib/curl/security.c -text
lib/curl/security.h -text
lib/curl/sendf.c -text
lib/curl/sendf.h -text
lib/curl/setup.h -text
lib/curl/share.c -text
lib/curl/share.h -text
lib/curl/speedcheck.c -text
lib/curl/speedcheck.h -text
lib/curl/ssluse.c -text
lib/curl/ssluse.h -text
lib/curl/stamp-h1 -text
lib/curl/stdcheaders.h -text
lib/curl/strequal.c -text
lib/curl/strequal.h -text
lib/curl/strtok.c -text
lib/curl/strtok.h -text
lib/curl/telnet.c -text
lib/curl/telnet.h -text
lib/curl/timeval.c -text
lib/curl/timeval.h -text
lib/curl/transfer.c -text
lib/curl/transfer.h -text
lib/curl/types.h -text
lib/curl/url.c -text
lib/curl/url.h -text
lib/curl/urldata.h -text
lib/curl/version.c -text
lib/keeper/.indent.pro -text
lib/keeper/Makefile.am -text
lib/keeper/Makefile.in -text
lib/keeper/keeper.h -text
lib/keeper/kp_cache.c -text
lib/keeper/kp_dir.c -text
lib/keeper/kp_enum.c -text
lib/keeper/kp_get.c -text
lib/keeper/kp_iface.c -text
lib/keeper/kp_recur.c -text
lib/keeper/kp_set.c -text
lib/keeper/kp_sort.c -text
lib/keeper/kp_util.c -text
lib/keeper/kp_util.h -text
lib/pcre/COPYING -text
lib/pcre/Makefile.am -text
lib/pcre/Makefile.in -text
lib/pcre/README -text
lib/pcre/configwin32.h -text
lib/pcre/dftables.c eol=lf
lib/pcre/get.c eol=lf
lib/pcre/internal.h eol=lf
lib/pcre/maketables.c eol=lf
lib/pcre/pcre.c eol=lf
lib/pcre/pcre.h -text
lib/pcre/study.c eol=lf
lib/sqlsrv/Makefile -text
lib/sqlsrv/README -text
lib/sqlsrv/api.c -text
lib/sqlsrv/do_sql.c -text
lib/sqlsrv/do_sql.h -text
lib/sqlsrv/parse.tab.c -text
lib/sqlsrv/parse.tab.h -text
lib/sqlsrv/parse.y -text
lib/sqlsrv/rta.h -text
lib/sqlsrv/rtatables.c -text
lib/sqlsrv/token.c -text
lib/sqlsrv/token.l -text
logs/.keepme -text
/makeconf -text
modules/.indent.pro -text
modules/Makefile.am -text
modules/Makefile.in -text
modules/connectserv/.indent.pro -text
modules/connectserv/Makefile.am -text
modules/connectserv/Makefile.in -text
modules/connectserv/cs.c -text
modules/connectserv/cs.h -text
modules/connectserv/cs_help.c -text
modules/extauth/.indent.pro -text
modules/extauth/Makefile.am -text
modules/extauth/Makefile.in -text
modules/extauth/extauth.c -text
modules/hostserv/.indent.pro -text
modules/hostserv/Makefile.am -text
modules/hostserv/Makefile.in -text
modules/hostserv/README -text
modules/hostserv/hostserv.c -text
modules/hostserv/hostserv.h -text
modules/hostserv/hs_help.c -text
modules/ircdauth/Makefile.am -text
modules/ircdauth/Makefile.in -text
modules/ircdauth/ircdauth.c -text
modules/loveserv/.indent.pro -text
modules/loveserv/Makefile.am -text
modules/loveserv/Makefile.in -text
modules/loveserv/TODO -text
modules/loveserv/loveserv.c -text
modules/loveserv/loveserv.h -text
modules/loveserv/ls_help.c -text
modules/modules.txt -text
modules/moraleserv/.indent.pro -text
modules/moraleserv/Makefile.am -text
modules/moraleserv/Makefile.in -text
modules/moraleserv/ms.c -text
modules/moraleserv/ms.h -text
modules/moraleserv/ms_help.c -text
modules/neoserv/Makefile -text
modules/neoserv/neoserv.c -text
modules/neoserv/neoserv_help.c -text
modules/operlog/ChangeLog -text
modules/operlog/Makefile -text
modules/operlog/ol_help.c -text
modules/operlog/operlog.c -text
modules/statserv/.indent.pro -text
modules/statserv/GeoIP.c -text
modules/statserv/GeoIP.dat -text
modules/statserv/GeoIP.h -text
modules/statserv/GeoIPBitReader.c -text
modules/statserv/GeoIPBitReader.h -text
modules/statserv/GeoIPCity.c -text
modules/statserv/GeoIPCity.h -text
modules/statserv/Makefile.am -text
modules/statserv/Makefile.in -text
modules/statserv/database.c -text
modules/statserv/global.h -text
modules/statserv/html/index.tpl -text
modules/statserv/htmlstats.c -text
modules/statserv/md5.c -text
modules/statserv/md5.h -text
modules/statserv/sqlstats.h -text
modules/statserv/ss_help.c -text
modules/statserv/stats.c -text
modules/statserv/statserv.c -text
modules/statserv/statserv.h -text
modules/statserv/tld.c -text
modules/template/Makefile.am -text
modules/template/Makefile.in -text
modules/template/template.c -text
modules/templateauth/Makefile.am -text
modules/templateauth/Makefile.in -text
modules/templateauth/templateauth.c -text
/neostats.motd -text
src/Makefile.am -text
src/Makefile.in -text
src/auth.c -text
src/bans.c -text
src/bots.c -text
src/channels.c eol=lf
src/commands.c -text
src/conf.c eol=lf
src/db.c -text
src/dl.c eol=lf
src/dns.c eol=lf
src/dotconf.c eol=lf
src/exclude.c -text
src/hash.c eol=lf
src/ircd.c eol=lf
src/ircstring.c eol=lf
src/keeper.c eol=lf
src/list.c eol=lf
src/log.c eol=lf
src/main.c eol=lf
src/match.c -text
src/misc.c eol=lf
src/modes.c -text
src/modes.h -text
src/modules.c -text
src/ns_help.c eol=lf
src/protocol/Makefile.am -text
src/protocol/Makefile.in -text
src/protocol/bahamut.c eol=lf
src/protocol/bahamut.h eol=lf
src/protocol/client.c -text
src/protocol/client.h -text
src/protocol/hybrid7.c eol=lf
src/protocol/hybrid7.h eol=lf
src/protocol/ircup10.c eol=lf
src/protocol/ircup10.h eol=lf
src/protocol/liquid.c -text
src/protocol/liquid.h -text
src/protocol/mystic.c eol=lf
src/protocol/mystic.h eol=lf
src/protocol/neoircd.c eol=lf
src/protocol/neoircd.h eol=lf
src/protocol/protocol.txt -text
src/protocol/quantum.c eol=lf
src/protocol/quantum.h eol=lf
src/protocol/ultimate2.c eol=lf
src/protocol/ultimate2.h eol=lf
src/protocol/ultimate3.c eol=lf
src/protocol/ultimate3.h eol=lf
src/protocol/unreal31.c eol=lf
src/protocol/unreal31.h eol=lf
src/protocol/unreal32.c eol=lf
src/protocol/unreal32.h eol=lf
src/protocol/viagra.c -text
src/protocol/viagra.h -text
src/servers.c eol=lf
src/services.c eol=lf
src/signals.c -text
src/sock.c eol=lf
src/support.c eol=lf
src/timer.c eol=lf
src/transfer.c -text
src/users.c eol=lf
src/win32/neostats.aps -text
src/win32/neostats.bmp -text
src/win32/neostats.rc -text
src/win32/resource.h -text
src/win32/winmain.c -text
tools/Makefile.in -text
tools/README.kptool -text
tools/cfgtool/Makefile -text
tools/cfgtool/README.configtool -text
tools/cfgtool/dialog.c -text
tools/cfgtool/edit.c -text
tools/cfgtool/gkeeper.c -text
tools/cfgtool/gkeeper.h -text
tools/cfgtool/menu.c -text
tools/cfgtool/pixmaps/book_closed.xpm -text
tools/cfgtool/pixmaps/book_open.xpm -text
tools/cfgtool/pixmaps/data.xpm -text
tools/cfgtool/pixmaps/float.xpm -text
tools/cfgtool/pixmaps/folder_closed.xpm -text
tools/cfgtool/pixmaps/folder_open.xpm -text
tools/cfgtool/pixmaps/num.xpm -text
tools/cfgtool/pixmaps/string.xpm -text
tools/cfgtool/pixmaps/warning.xpm -text
tools/cfgtool/tree.c -text
tools/kp_exp.c -text
tools/kp_imp.c -text
tools/kptool.c -text
tools/kptool.h -text
tools/misc.c -text
tools/sqlphp/README -text
tools/sqlphp/rta_tables.php -text
tools/sqlphp/rta_view.php -text
win32/README -text
win32/adns/adns.vcproj -text
win32/curl/curl.vcproj -text
win32/nswin32.sln -text
win32/nswindow/nswindow.vcproj -text
win32/pcre/pcre.vcproj -text
