* text=auto !eol
/.indent.pro -text
/AUTHORS -text
/BUGS -text
/COPYING -text
/CREDITS -text
/ChangeLog -text
/ChangeLog.old -text
/Config -text
/INSTALL -text
/INSTNOTES -text
/INSTNOTES.svn -text
/Makefile.am -text
/Makefile.in -text
/NEWS -text
NeoStats.xcode/project.pbxproj -text
/README -text
/README.win32 -text
/RELNOTES -text
/TODO -text
/aclocal.m4 -text
autotools/acinclude.m4 -text
autotools/aclocal.m4 -text
autotools/ax_compare_version.m4 -text
autotools/ax_distversion.m4 -text
autotools/ax_maintainer_mode_auto_silent.m4 -text
autotools/ax_path_lib_curl.m4 -text
autotools/ax_path_lib_pcre.m4 -text
autotools/berkeley_db.m4 -text
autotools/ccdv.c -text
autotools/ccdv.m4 -text
autotools/compile -text
autotools/config.guess -text
autotools/config.sub -text
autotools/depcomp -text
autotools/install-sh -text
autotools/libevent.m4 -text
autotools/ltmain.sh -text
autotools/missing -text
autotools/mkinstalldirs -text
autotools/rules.mk -text
autotools/shtool -text
/configure -text
/configure.in -text
data/niconfig.db -text
data/tlds.nfo -text
doc/FAQ -text
doc/README.dev -text
doc/README.french -text
doc/USERMAN -text
doc/USERMAN.html -text
doc/USERMAN.xml -text
doc/old/ChangeLog.connectserv.old -text
doc/old/ChangeLog.hostserv.old -text
doc/old/ChangeLog.loveserv.old -text
doc/old/ChangeLog.moraleserv.old -text
doc/old/ChangeLog.neoserv.old -text
doc/old/ChangeLog.operlog.old -text
doc/old/ChangeLog.statserv.old -text
doc/old/FAQ.pt -text
doc/old/INSTALL.pt -text
doc/old/README.pt -text
doc/read-faq -text
doc/read-userman -text
doc/test.pl -text
doc/test2.pl -text
graveyard/include/rtaserv.h -text
graveyard/lib/rta/Makefile.am -text
graveyard/lib/rta/Makefile.in -text
graveyard/lib/rta/README -text
graveyard/lib/rta/api.c -text
graveyard/lib/rta/do_sql.c -text
graveyard/lib/rta/do_sql.h -text
graveyard/lib/rta/parse.tab.h -text
graveyard/lib/rta/parse.y -text
graveyard/lib/rta/rta.h -text
graveyard/lib/rta/rtatables.c -text
graveyard/lib/rta/token.l -text
graveyard/lib/rtawin32/api.c -text
graveyard/lib/rtawin32/do_sql.c -text
graveyard/lib/rtawin32/do_sql.h -text
graveyard/lib/rtawin32/parse.tab.c -text
graveyard/lib/rtawin32/parse.tab.h -text
graveyard/lib/rtawin32/parse.y -text
graveyard/lib/rtawin32/rta.h -text
graveyard/lib/rtawin32/rta.vcproj -text
graveyard/lib/rtawin32/rtatables.c -text
graveyard/lib/rtawin32/token.c -text
graveyard/lib/rtawin32/token.l -text
graveyard/modules/loveserv/.indent.pro -text
graveyard/modules/loveserv/Makefile.am -text
graveyard/modules/loveserv/Makefile.in -text
graveyard/modules/loveserv/TODO -text
graveyard/modules/loveserv/loveserv.c -text
graveyard/modules/loveserv/loveserv.h -text
graveyard/modules/loveserv/loveserv.vcproj -text
graveyard/modules/loveserv/ls_help.c -text
graveyard/modules/moraleserv/.indent.pro -text
graveyard/modules/moraleserv/Makefile.am -text
graveyard/modules/moraleserv/Makefile.in -text
graveyard/modules/moraleserv/moraleserv.vcproj -text
graveyard/modules/moraleserv/ms.c -text
graveyard/modules/moraleserv/ms.h -text
graveyard/modules/moraleserv/ms_help.c -text
graveyard/modules/neoserv/Makefile -text
graveyard/modules/neoserv/neoserv.c -text
graveyard/modules/neoserv/neoserv_help.c -text
graveyard/src/protocol/liquid.c -text
graveyard/src/protocol/liquid.h -text
graveyard/src/protocol/liquid.vcproj -text
graveyard/src/protocol/mystic.c eol=lf
graveyard/src/protocol/mystic.h eol=lf
graveyard/src/protocol/mystic.vcproj -text
graveyard/src/protocol/neoircd.c eol=lf
graveyard/src/protocol/neoircd.h eol=lf
graveyard/src/protocol/neoircd.vcproj -text
graveyard/src/protocol/quantum.c eol=lf
graveyard/src/protocol/quantum.h eol=lf
graveyard/src/protocol/quantum.vcproj -text
graveyard/src/protocol/viagra.c -text
graveyard/src/protocol/viagra.h -text
graveyard/src/protocol/viagra.vcproj -text
graveyard/src/rtabans.c -text
graveyard/src/rtachannels.c -text
graveyard/src/rtamodules.c -text
graveyard/src/rtaserv.c -text
graveyard/src/rtaservers.c -text
graveyard/src/rtausers.c -text
include/Makefile.am -text
include/Makefile.in -text
include/adns.h -text
include/adnsdlist.h -text
include/adnsinternal.h -text
include/adnstvarith.h -text
include/auth.h -text
include/bans.h -text
include/base64.h -text
include/botinfo.h -text
include/bots.h -text
include/channels.h eol=lf
include/commands.h -text
include/conf.h eol=lf
include/config.h.in -text
include/confuse.h -text
include/ctcp.h -text
include/dcc.h -text
include/dl.h eol=lf
include/dns.h eol=lf
include/events.h eol=lf
include/exclude.h -text
include/hash.h eol=lf
include/helpstrings.h eol=lf
include/ircprotocol.h -text
include/ircrecv.h -text
include/ircsend.h -text
include/ircstring.h eol=lf
include/lang.h -text
include/list.h eol=lf
include/log.h eol=lf
include/main.h -text
include/modes.h -text
include/modules.h -text
include/neostats.h -text
include/nsdba.h -text
include/nsdbm.h -text
include/nsevents.h -text
include/numeric.h -text
include/numerics.h -text
include/perlmod.h -text
include/protocol.h -text
include/servers.h eol=lf
include/services.h eol=lf
include/settings.h -text
include/signals.h -text
include/sock.h eol=lf
include/support.h eol=lf
include/timer.h eol=lf
include/transfer.h -text
include/updates.h -text
include/users.h eol=lf
include/version.sh -text
lib/Makefile.am -text
lib/Makefile.in -text
lib/curl/CHANGES -text
lib/curl/COPYING -text
lib/curl/Makefile.am -text
lib/curl/Makefile.in -text
lib/curl/README -text
lib/curl/RELEASE-NOTES -text
lib/curl/acinclude.m4 -text
lib/curl/arpa_telnet.h -text
lib/curl/base64.c -text
lib/curl/base64.h -text
lib/curl/config-win32.h -text
lib/curl/connect.c -text
lib/curl/connect.h -text
lib/curl/content_encoding.c -text
lib/curl/content_encoding.h -text
lib/curl/cookie.c -text
lib/curl/cookie.h -text
lib/curl/curl.h -text
lib/curl/curl.vcproj -text
lib/curl/depcomp -text
lib/curl/dict.c -text
lib/curl/dict.h -text
lib/curl/easy.c -text
lib/curl/easy.h -text
lib/curl/escape.c -text
lib/curl/escape.h -text
lib/curl/file.c -text
lib/curl/file.h -text
lib/curl/formdata.c -text
lib/curl/formdata.h -text
lib/curl/ftp.c -text
lib/curl/ftp.h -text
lib/curl/getenv.c -text
lib/curl/getinfo.c -text
lib/curl/getinfo.h -text
lib/curl/hash.c -text
lib/curl/hash.h -text
lib/curl/hostip.c -text
lib/curl/hostip.h -text
lib/curl/http.c -text
lib/curl/http.h -text
lib/curl/http_chunks.c -text
lib/curl/http_chunks.h -text
lib/curl/http_digest.c -text
lib/curl/http_digest.h -text
lib/curl/http_negotiate.c -text
lib/curl/http_negotiate.h -text
lib/curl/http_ntlm.c -text
lib/curl/http_ntlm.h -text
lib/curl/if2ip.c -text
lib/curl/if2ip.h -text
lib/curl/inet_ntoa_r.h -text
lib/curl/inet_pton.c -text
lib/curl/inet_pton.h -text
lib/curl/krb4.c -text
lib/curl/krb4.h -text
lib/curl/ldap.c -text
lib/curl/ldap.h -text
lib/curl/llist.c -text
lib/curl/llist.h -text
lib/curl/md5.c -text
lib/curl/md5.h -text
lib/curl/memdebug.c -text
lib/curl/memdebug.h -text
lib/curl/missing -text
lib/curl/mkinstalldirs -text
lib/curl/mprintf.c -text
lib/curl/mprintf.h -text
lib/curl/multi.c -text
lib/curl/multi.h -text
lib/curl/netrc.c -text
lib/curl/netrc.h -text
lib/curl/progress.c -text
lib/curl/progress.h -text
lib/curl/security.c -text
lib/curl/security.h -text
lib/curl/sendf.c -text
lib/curl/sendf.h -text
lib/curl/setup.h -text
lib/curl/share.c -text
lib/curl/share.h -text
lib/curl/speedcheck.c -text
lib/curl/speedcheck.h -text
lib/curl/ssluse.c -text
lib/curl/ssluse.h -text
lib/curl/stamp-h1 -text
lib/curl/stdcheaders.h -text
lib/curl/strequal.c -text
lib/curl/strequal.h -text
lib/curl/strtok.c -text
lib/curl/strtok.h -text
lib/curl/telnet.c -text
lib/curl/telnet.h -text
lib/curl/timeval.c -text
lib/curl/timeval.h -text
lib/curl/transfer.c -text
lib/curl/transfer.h -text
lib/curl/types.h -text
lib/curl/url.c -text
lib/curl/url.h -text
lib/curl/urldata.h -text
lib/curl/version.c -text
lib/event/Makefile.am -text
lib/event/Makefile.in -text
lib/event/VERSION -text
lib/event/WIN32-Code/config.h -text
lib/event/WIN32-Code/misc.c -text
lib/event/WIN32-Code/misc.h -text
lib/event/WIN32-Code/win32.c -text
lib/event/WIN32-Prj/libevent.dsp -text
lib/event/WIN32-Prj/libevent.dsw -text
lib/event/WIN32-Prj/libevent.vcproj -text
lib/event/buffer.c -text
lib/event/compat/sys/_time.h -text
lib/event/compat/sys/queue.h -text
lib/event/compat/sys/tree.h -text
lib/event/devpoll.c -text
lib/event/epoll.c -text
lib/event/epoll_sub.c -text
lib/event/err.c -text
lib/event/evbuffer.c -text
lib/event/event-internal.h -text
lib/event/event.3 -text
lib/event/event.c -text
lib/event/event.h -text
lib/event/evsignal.h -text
lib/event/kqueue.c -text
lib/event/log.c -text
lib/event/log.h -text
lib/event/poll.c -text
lib/event/rtsig.c -text
lib/event/select.c -text
lib/event/signal.c -text
lib/execinfo/Makefile.am -text
lib/execinfo/Makefile.in -text
lib/execinfo/README -text
lib/execinfo/gen.py -text
lib/nxml/Makefile.am -text
lib/nxml/Makefile.in -text
lib/nxml/mrss.h -text
lib/nxml/mrss_download.c -text
lib/nxml/mrss_edit.c -text
lib/nxml/mrss_free.c -text
lib/nxml/mrss_generic.c -text
lib/nxml/mrss_internal.h -text
lib/nxml/mrss_parser.c -text
lib/nxml/mrss_write.c -text
lib/nxml/nxml.h -text
lib/nxml/nxml.vcproj -text
lib/nxml/nxml_download.c -text
lib/nxml/nxml_dtd.c -text
lib/nxml/nxml_easy.c -text
lib/nxml/nxml_edit.c -text
lib/nxml/nxml_entity.c -text
lib/nxml/nxml_error.c -text
lib/nxml/nxml_free.c -text
lib/nxml/nxml_init.c -text
lib/nxml/nxml_internal.h -text
lib/nxml/nxml_namespace.c -text
lib/nxml/nxml_parser.c -text
lib/nxml/nxml_string.c -text
lib/nxml/nxml_tools.c -text
lib/nxml/nxml_utf.c -text
lib/nxml/nxml_write.c -text
lib/pcre/COPYING -text
lib/pcre/Makefile.am -text
lib/pcre/Makefile.in -text
lib/pcre/README -text
lib/pcre/dftables.c eol=lf
lib/pcre/get.c eol=lf
lib/pcre/internal.h eol=lf
lib/pcre/maketables.c eol=lf
lib/pcre/pcre.c eol=lf
lib/pcre/pcre.h -text
lib/pcre/pcre.vcproj -text
lib/pcre/pcredftables.vcproj -text
lib/pcre/study.c eol=lf
logs/.keepme -text
/makeconf -text
modules/.indent.pro -text
modules/Makefile.am -text
modules/Makefile.in -text
modules/connectserv/.indent.pro -text
modules/connectserv/Makefile.am -text
modules/connectserv/Makefile.in -text
modules/connectserv/connectserv.vcproj -text
modules/connectserv/cs.c -text
modules/connectserv/cs.h -text
modules/connectserv/cs_help.c -text
modules/dbm/Makefile.am -text
modules/dbm/Makefile.in -text
modules/dbm/bdb/Makefile.am -text
modules/dbm/bdb/Makefile.in -text
modules/dbm/bdb/bdb.c -text
modules/dbm/bdb/bdb.vcproj -text
modules/dbm/convertdb.c -text
modules/dbm/gdbm/Makefile.am -text
modules/dbm/gdbm/Makefile.in -text
modules/dbm/gdbm/bucket.c -text
modules/dbm/gdbm/extern.h -text
modules/dbm/gdbm/falloc.c -text
modules/dbm/gdbm/findkey.c -text
modules/dbm/gdbm/gdbm.c -text
modules/dbm/gdbm/gdbm.vcproj -text
modules/dbm/gdbm/gdbmclose.c -text
modules/dbm/gdbm/gdbmconst.h -text
modules/dbm/gdbm/gdbmdefs.h -text
modules/dbm/gdbm/gdbmdelete.c -text
modules/dbm/gdbm/gdbmerrno.c -text
modules/dbm/gdbm/gdbmerrno.h -text
modules/dbm/gdbm/gdbmexists.c -text
modules/dbm/gdbm/gdbmfdesc.c -text
modules/dbm/gdbm/gdbmfetch.c -text
modules/dbm/gdbm/gdbmopen.c -text
modules/dbm/gdbm/gdbmreorg.c -text
modules/dbm/gdbm/gdbmseq.c -text
modules/dbm/gdbm/gdbmsetopt.c -text
modules/dbm/gdbm/gdbmstore.c -text
modules/dbm/gdbm/gdbmsync.c -text
modules/dbm/gdbm/getopt.h -text
modules/dbm/gdbm/global.c -text
modules/dbm/gdbm/hash.c -text
modules/dbm/gdbm/proto.h -text
modules/dbm/gdbm/systems.h -text
modules/dbm/gdbm/update.c -text
modules/dbm/gdbm/version.c -text
modules/dccpartyline/Makefile.am -text
modules/dccpartyline/Makefile.in -text
modules/dccpartyline/dccpartyline.vcproj -text
modules/dccpartyline/main.c -text
modules/extauth/.indent.pro -text
modules/extauth/Makefile.am -text
modules/extauth/Makefile.in -text
modules/extauth/extauth.c -text
modules/extauth/extauth.vcproj -text
modules/hostserv/.indent.pro -text
modules/hostserv/Makefile.am -text
modules/hostserv/Makefile.in -text
modules/hostserv/README -text
modules/hostserv/hostserv.c -text
modules/hostserv/hostserv.h -text
modules/hostserv/hostserv.vcproj -text
modules/hostserv/hs_help.c -text
modules/ircdauth/Makefile.am -text
modules/ircdauth/Makefile.in -text
modules/ircdauth/ircdauth.c -text
modules/ircdauth/ircdauth.vcproj -text
modules/limitserv/Makefile.am -text
modules/limitserv/Makefile.in -text
modules/limitserv/help.c -text
modules/limitserv/limitserv.h -text
modules/limitserv/limitserv.vcproj -text
modules/limitserv/main.c -text
modules/modules.txt -text
modules/nstest/Makefile.am -text
modules/nstest/commands.c -text
modules/nstest/commands.h -text
modules/nstest/events.c -text
modules/nstest/main.c -text
modules/nstest/main.h -text
modules/nstest/nstest.vcproj -text
modules/operlog/Makefile.am -text
modules/operlog/Makefile.in -text
modules/operlog/help.c -text
modules/operlog/main.c -text
modules/operlog/operlog.h -text
modules/operlog/operlog.vcproj -text
modules/perltest/Makefile.am -text
modules/perltest/Makefile.in -text
modules/perltest/extension.ple -text
modules/perltest/main.c -text
modules/perltest/test.pl -text
modules/protocol/Makefile.am -text
modules/protocol/Makefile.in -text
modules/protocol/asuka.c -text
modules/protocol/asuka.vcproj -text
modules/protocol/bahamut14.c eol=lf
modules/protocol/bahamut14.vcproj -text
modules/protocol/bahamut18.c -text
modules/protocol/bahamut18.vcproj -text
modules/protocol/client.c -text
modules/protocol/client.vcproj -text
modules/protocol/hybrid6.c -text
modules/protocol/hybrid6.vcproj -text
modules/protocol/hybrid7.c eol=lf
modules/protocol/hybrid7.vcproj -text
modules/protocol/ircup10.c eol=lf
modules/protocol/ircup10.vcproj -text
modules/protocol/ircup10base.c -text
modules/protocol/nefarious.c -text
modules/protocol/nefarious.vcproj -text
modules/protocol/plexus.c -text
modules/protocol/plexus.vcproj -text
modules/protocol/plexus3.c -text
modules/protocol/protocol.txt -text
modules/protocol/ultimate2.c eol=lf
modules/protocol/ultimate2.vcproj -text
modules/protocol/ultimate3.c eol=lf
modules/protocol/ultimate3.vcproj -text
modules/protocol/unreal31.c eol=lf
modules/protocol/unreal31.vcproj -text
modules/protocol/unreal32.c eol=lf
modules/protocol/unreal32.vcproj -text
modules/quoteserv/Makefile.am -text
modules/quoteserv/Makefile.in -text
modules/quoteserv/data/discworld -text
modules/quoteserv/data/redneck -text
modules/quoteserv/help.c -text
modules/quoteserv/main.c -text
modules/quoteserv/misc -text
modules/quoteserv/quoteserv.h -text
modules/quoteserv/quoteserv.vcproj -text
modules/statserv/.indent.pro -text
modules/statserv/GeoIP.dat -text
modules/statserv/Makefile.am -text
modules/statserv/Makefile.in -text
modules/statserv/channel.c -text
modules/statserv/channel.h -text
modules/statserv/geoip/GeoIP.c -text
modules/statserv/geoip/GeoIP.h -text
modules/statserv/geoip/GeoIPBitReader.c -text
modules/statserv/geoip/GeoIPBitReader.h -text
modules/statserv/geoip/GeoIPCity.c -text
modules/statserv/geoip/GeoIPCity.h -text
modules/statserv/html/index.tpl -text
modules/statserv/htmlstats.c -text
modules/statserv/htmlstats.h -text
modules/statserv/network.c -text
modules/statserv/network.h -text
modules/statserv/server.c -text
modules/statserv/server.h -text
modules/statserv/ss_help.c -text
modules/statserv/stats.c -text
modules/statserv/stats.h -text
modules/statserv/statserv.c -text
modules/statserv/statserv.h -text
modules/statserv/statserv.vcproj -text
modules/statserv/tld.c -text
modules/statserv/tld.h -text
modules/statserv/user.c -text
modules/statserv/user.h -text
modules/statserv/version.c -text
modules/statserv/version.h -text
modules/template/Makefile.am -text
modules/template/Makefile.in -text
modules/template/main.c -text
modules/template/template.vcproj -text
modules/templateauth/Makefile.am -text
modules/templateauth/Makefile.in -text
modules/templateauth/main.c -text
modules/templateauth/templateauth.vcproj -text
modules/textserv/Makefile.am -text
modules/textserv/Makefile.in -text
modules/textserv/barmaid.tsdb -text
modules/textserv/help.c -text
modules/textserv/icecream.tsdb -text
modules/textserv/loveserv.tsdb -text
modules/textserv/main.c -text
modules/textserv/moraleserv.tsdb -text
modules/textserv/textserv.h -text
modules/textserv/textserv.vcproj -text
modules/textserv/waitress.tsdb -text
modules/update/.indent.pro -text
modules/update/Makefile.am -text
modules/update/Makefile.in -text
modules/update/update.vcproj -text
/neostats.in -text
/neostats.motd -text
/neostats.sln -text
/neostatslibs.sln -text
src/Makefile.am -text
src/Makefile.in -text
src/NV.xs -text
src/NeoStats.pm -text
src/confuselexer.l -text
src/neostats.pm.h -text
src/neostats.vcproj -text
src/nsevents.c -text
src/typemap -text
src/win32/icon1.ico -text
src/win32/neostats.bmp -text
src/win32/neostats.conf -text
src/win32/neostats.rc -text
src/win32/neostatsversion.rc -text
src/win32/resource.h -text
src/win32/winmain.c -text
tools/generate_header -text
tools/neostats.suppression -text
tools/runvalgrind.sh -text
tools/sqlphp/README -text
tools/sqlphp/rta_tables.php -text
tools/sqlphp/rta_view.php -text
