###############################################################################
## Configuration file for NeoStats
## NeoStats (c) 1999 Codeworks.
## codework@kamserve.com
###############################################################################

# The server name that we appear as.
SERVER_NAME stats.dynam.ac

# The port to connect to.
SERVER_PORT 6667

# Hostname we are connecting to.
CONNECT_TO 127.0.0.1

# Password that we send in order to connect.
CONNECT_PASS bla

# Infoline Displayed in /links for this server
SERVER_INFOLINE Network Statistical Server

# Your network name (fx: irc.dreaming.org put Dreaming, etc refer to your Unreal network file)
STATSERV_NETNAME ROXnet

# This is the Apparent Host that NeoStats is connecting from.. Some people
# like to make it the same as your Services host (eg, services.global-irc.net)
NEOSTAT_HOST NeoStats.net

# This is the User that NeoStats uses (the part before the @host)
NEOSTAT_USER Neo

#The Services Channel to Join Initially
SERVICES_CHAN #services

# Should we send privmsg's or notice's?
# Comment this out for NOTICE's, otherwise
# leave it alone.
WANT_PRIVMSG

# Time in seconds that we wait before attempting
# to reconnect to the server.
RECONNECT_TIME 10

################
# NEW OPTIONS: #
################
# Ok, Here are some new options with regards to the Modules
# Please read carefully here, as you can stuff everything up
#
# Now for each Module we want to load at boot time, we specify the following
# this loads the Spam Module
LOAD_MODULE spam
# This is a demo Module, called Version.. All it does is append a reply to /version <NeoStats server name>
LOAD_MODULE version
# this is the StatServ Module
LOAD_MODULE statserv

# Some Modules require there own configuration information.. Here are some 
# Configuration options that are usefull for the Modules that come with
# NeoStats

############################
# STATSERV CONFIG FOLLOWS: #
############################
# This is the nickname that StatServ uses, if not specified, defaults to
# Statserv
#STATSERV_NICK StatServ

# This is the User portion that StatServ uses, if not specified, it uses
# whatever NeoStats is configured to use
#STATSERV_USER Stats

# This is the Host that StatServ appears to come from, if not specified, it
# uses whatever NeoStats is configured to use
#STATSERV_HOST my.stats.irc.net

# This is used to specified the number of seconds a Server is tolerated
# before it is considered Laged. A non value, or value of 0, disables Lag
# Notifications
LAG_NOTICE 60

############################
# ICQSERV CONFIG FOLLOWS:  #
############################
# This is the nickname that IcqServ uses, if not specified, defaults to
# ICQserv
#ICQSERV_NICK IcqServ

# This is the User portion that IcqServ uses, if not specified, it uses
# whatever NeoStats is configured to use
#ICQSERV_USER Stats

# This is the Host that IcqServ appears to come from, if not specified, it
# uses whatever NeoStats is configured to use
#ICQSERV_HOST my.stats.irc.net

ICQSERV_UIN 57082361
#ICQSERV_UIN 57150676
ICQSERV_PASSWORD global
ICQSERV_SERVER 205.188.179.42



###############################################################################
## End of Configuration                                                      ##
###############################################################################
